APP_NAME="Digitax Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:9003

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=digitax_service
DB_USERNAME=root
DB_PASSWORD=

QUEUE_CONNECTION=redis
QUEUE_FAILED_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

DIGITAX_API_URL=https://api.digitax.tech/v1
DIGITAX_SANDBOX_URL=https://sandbox-api.digitax.tech/v1
DIGITAX_DEFAULT_API_KEY=

DIGITAX_JWT_SECRET=
DIGITAX_ALLOWED_ISS=addy,projjo,sendrr,herro

WEBHOOK_SECRET=

TAX_SERVICE_API_KEY=
